@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("/fonts/FoundersGroteskX-Condensed.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */